<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="aueb.hci.humancomputerinteraction">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_title"
            android:screenOrientation="reverseLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditProgram"
            android:label="Edit Program"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".AdvancedProgram"
            android:label="Create Advanced Program"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".SelectProgram"
            android:label="Select Program"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".ManagePrograms"
            android:label="Here you can manage your programs."
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".InfoProgram"
            android:screenOrientation="reverseLandscape"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
    </application>

</manifest>